@import "../../global.scss";

.portfolioList {
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: $mainColor;
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  @include mobile {
    margin-right: 20px;
    font-size: 16px;
    min-height: 25px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
