@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  max-width: 90%;
  margin-inline: auto;

  @include mobile {
    flex-direction: column;
  }

  .right {
    flex: 1;
    overflow: hidden;
    display: grid;
    place-items: center;

    img {
      object-fit: cover;
      max-width: 75%;
    }
  }
  .left {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    h2 {
      font-size: 50px;
      color: $mainColor;
      min-height: 3.8rem;

      @include mobile {
        font-size: 20px;
      }
    }
    h2:last-child {
      bottom: 47px;
      position: absolute;
    }
  }
}
