@import "../../global.scss";

.achievements {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    justify-content: space-around;
  }

  h1 {
    font-size: 50px;
    color: $mainColor;
    min-height: 3.8rem;

    @include mobile {
      font-size: 20px;
      min-height: auto;
    }
  }

  .container {
    width: 90%;
    height: 80%;
    display: flex;
    padding-inline: 1rem;
    padding-block: 3rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    img {
      max-width: 100%;
      height: 100%;

      @include mobile {
        transform: rotate(270deg);
      }
    }
  }
}
